<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>workload</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ClassCalServlet</display-name>
    <servlet-name>ClassCalServlet</servlet-name>
    <servlet-class>com.workload.servlet.ClassCalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassCalServlet</servlet-name>
    <url-pattern>/ClassCalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassDesCulServlet</display-name>
    <servlet-name>ClassDesCulServlet</servlet-name>
    <servlet-class>com.workload.servlet.ClassDesCulServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassDesCulServlet</servlet-name>
    <url-pattern>/ClassDesCulServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GraduationCalServlet</display-name>
    <servlet-name>GraduationCalServlet</servlet-name>
    <servlet-class>com.workload.servlet.GraduationCalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GraduationCalServlet</servlet-name>
    <url-pattern>/GraduationCalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PracticeCalServlet</display-name>
    <servlet-name>PracticeCalServlet</servlet-name>
    <servlet-class>com.workload.servlet.PracticeCalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PracticeCalServlet</servlet-name>
    <url-pattern>/PracticeCalServlet</url-pattern>
  </servlet-mapping>
</web-app>